* {
  user-select: none;
}

body {
  font-size: 10px;
  font-family: 'Arvo', serif;
  margin: 0;
  padding: 0;
}

h1 {
  color: #0b3c5d;
  font-size: 3.5em;
  line-height: 50px;
  font-family: 'Arvo', serif;
  margin: 0;
  padding-left: 20px;
}

h2 {
  color: #0b3c5d;
  font-size: 3em;
  font-family: 'Arvo', serif;
  text-align: center;
}

h3 {
  text-align: center;
  color: #0b3c5d;
  font-size: 20px;
  font-weight: bold;
  width: 50%;
  line-height: 50px;
  margin: 0;
  box-sizing: border-box;
}

p {
  text-align: center;
  color: #1d2731;
  font-size: 12px;
  margin: 10px;
}

button {
  border: 0;
  display: block;
  margin: 5px 0;
  width: 100%;
  background-color: #1d2731;
  color: white;
  padding: 10px;
  cursor: pointer;
  font-family: 'Arvo', serif;
}

button:hover {
  background-color: #2e3842;
  color: #1d2731;
}

button.animated {
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

button.animated:hover {
  background-color: #ddd;
  color: #1d2731;
  transform: scale(1.1);
}

input {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid darkgray;
  margin-bottom: 10px;
}

a {
  color: inherit;
  text-decoration: inherit;
}

/* General UI */
.top-menu {
  background-color: #1d2731;
  font-variant: small-caps;
  height: 5em;
}

.top-menu-user {
  color: white;
  font-size: 1.4em;
  line-height: 3.4em;
  padding-right: 2em;
}

.alt-text {
  color: white;
}

.short-seperator {
  height: 1px;
  width: 50%;
  margin: 10px auto;
  background-color: darkgray;
}

.long-seperator {
  height: 1px;
  width: 100%;
  margin: 10px auto;
  background-color: darkgray;
}

.container {
  margin-bottom: 20px;
}

.side-menu {
  top: 0;
  bottom: 0;
  width: 200px;
  position: fixed;
  background-color: #0b3c5d;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.side-button {
  display: block;
  margin: 5px 0;
  width: 100%;
  border-bottom: 5px solid #1d1721;
  background-color: #1d2731;
  color: white;
}

.side-header, .side-title {
  line-height: 50px;
  font-size: 16px;
  margin: 0;
  padding-left: 10px;
  color: #d9b310;
}

.side-header {
  background-color: #d9b310;
  color: #1d2731;
}

.app-content {
  padding: 20px;
}

.flex-parent {
  display: flex;
}

.flex-grid {
  display: flex;
  flex-wrap: wrap;
}

.flex-grid > div {
  flex-grow: 1;
}

.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}

/**
* For IE 6/7 only
* Include this rule to trigger hasLayout and contain floats.
*/
.cf {
  *zoom: 1;
}

.big-button {
  width: 100%;
  padding: 20px;
  margin: 10px auto;
}

.text {
  font-size: 1.3em;
  margin: 20px;
}

.arrow-right {
  font-size: 3em;
  padding: 0 0.5em;
  line-height: 50px;
  color: darkgray;
}

.arrow-right:last-child {
  display: none;
}

.decorative1 {
  font-size: 60px;
  font-family: fantasy;
  color: crimson;
  text-shadow: 2px 2px black;
  align-self: center;
  text-align: center;
}

.important {
  color: firebrick;
  font-weight: bold;
  text-align: center;
  font-size: 1.4em;
}

.error {
  color: firebrick;
   font-weight: bold;
   border: 1px solid firebrick;
   font-size: 1.8em;
   padding: 10px 0;
}

/* Detail view */
.pokemon-details {
  margin-bottom: 20px;
  max-width: 700px;
  margin: 0 auto;
  padding: 50px;
}

.pokemon-details .summary {
  padding-left: 1em;
}

.pokemon-details .pokemon-level {
  float: right;
  font-size: 4em;
  color: royalblue;
  font-weight: bold;
}

.pokemon-details .ability {
  padding: 0.3em 1em;
  font-size: 1.5em;
  width: 5em;
  font-weight: bold;
  color: black;
  margin-right: 6px;
  margin-bottom: 4px;
}

.pokemon-details .stat {
  padding: 0.1em 1em;
  font-size: 1.5em;
  width: 5em;
  font-weight: bold;
  color: black;
}

.pokemon-details p {
  font-size: 1.3em;
}

.pokemon-details h2 {
    text-align: left;
    margin: 0;
    transform: scale(1.3, 1);
    transform-origin: 0;
}

.pokemon-details h2 + p {
  margin-top: -5px;
  margin-bottom: 0;
  color: royalblue;
  display: inline-block;
  font-size: 1.5em;
  font-weight: bold;
  transform: scale(1.5, 1);
  transform-origin: 0;
}

.pokemon-details img {
  height: 200px;
}

.pokemon-details .evolution {
  height: 50px;
}

.pokemon-details .active {
  border-radius: 10%;
  border: 2px solid green;
}

.stat-bar {
  height: 14px;
  position: relative;
  background-color: orangered;
  top: 50%;
  margin-top: -7px;
}

.evolutions {
  align-items: center;
  justify-content: space-between;
}

/* Pokedex view */
.new-poke-list {
  margin: 0 50px;

}

.new-pokemon {
  width: 190px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
  margin: 5px;
  text-shadow: 0 0 2px black;  
}
  
.new-pokemon-image {
  width: 150px;
  margin: 0 20px;
}

/* Modal */
.modal-wrapper {
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 5;
}

.modal-container {
  display: inline-block;
  position: fixed;
  margin: 100px auto;
  right: 0;
  left: 0;
  
}
.modal-inner-wrapper {
  display: flex;
  justify-content: space-around;
  
}
.modal-content {
    background-color: white;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.close-button {
  float: right;
  font-weight: bold;
  font-size: 14px;
  left: 50px;
  top: 10px;
  position: relative;
  color: white;
  text-shadow: 1px 1px black;
  cursor: pointer;
}

/* Types colors */
/* Pokemon type styling */
.type {
  border-radius: 3px;
  padding: 0.3em 1em;
  font-size: 1.5em;
  width: 5em;
  text-align: center;
  font-weight: bold;
  color: white;
  margin-right: 6px;
  margin-bottom: 4px;

}
.type.small {
  font-size: 1.3em;
  padding: 0.2em 0.5em;
}

/* Type Colors */
.fire {
  background: #f08030;
  background-image: linear-gradient(#f08030,#dd6610);
  border-color: #b4530d;
}
.fire-text {
    color: #f08030;
}
.flying {
  background: #a890f0;
  background-image: linear-gradient(#a890f0,#9180c4);
  border-color: #7762b6;
}
.flying-text {
    color: #a890f0;
}
.water {
  background: #6890f0;
  background-image: linear-gradient(#6890f0,#386ceb);
  border-color: #1753e3;
}
.water-text {
    color: #6890f0;
}
.bug {
  background: #a8b820;
  background-image: linear-gradient(#a8b820,#8d9a1b);
  border-color: #616b13;
}
.bug-text {
    color: #a8b820;
}
.poison {
  background: #a040a0;
  background-image: linear-gradient(#a040a0,#803380);
  border-color: #662966;
}
.poison-text {
    color: #a040a0;
}
.normal {
  background: #8a8a59;
  background-image: linear-gradient(#a8a878,#8a8a59);
  border-color: #79794e;
}
.normal-text {
    color: #8a8a59;
}
.electric {
  background: #f8d030;
  background-image: linear-gradient(#f8d030,#f0c108);
  border-color: #c19b07;
}
.electric-text {
    color: #f8d030;
}
.ground {
  background: #e0c068;
  background-image: linear-gradient(#e0c068,#d4a82f);
  border-color: #aa8623;
}
.ground-text {
    color: #e0c068;
}
.fairy {
  background: #e898e8;
  background-image: linear-gradient(#e898e8,#de6ede);
  border-color: #d547d5;
}
.fairy-text {
    color: #e898e8;
}
.grass {
  background: #78c850;
  background-image: linear-gradient(#78c850,#5ca935);
  border-color: #4a892b;
}
.grass-text {
    color: #78c850;
}
.fighting {
  background: #c03028;
  background-image: linear-gradient(#c03028,#9d2721);
  border-color: #82211b;
}
.fighting-text {
    color: #c03028;
}
.psychic {
  background: #f85888;
  background-image: linear-gradient(#f85888,#f61c5d);
  border-color: #ba083d;
}
.psychic-text {
    color: #f85888;
}
.rock {
  background: #b8a038;
  background-image: linear-gradient(#b8a038,#93802d);
  border-color: #746523;
}
.rock-text {
    color: #b8a038;
}
.steel {
  background: #b8b8d0;
  background-image: linear-gradient(#b8b8d0,#9797ba);
  border-color: #7a7aa7;
}
.steel-text {
    color: #b8b8d0;
}
.ice {
  background: #98d8d8;
  background-image: linear-gradient(#98d8d8,#69c6c6);
  border-color: #45b6b6;
}
.ice-text {
    color: #98d8d8;
}
.ghost {
  background: #705898;
  background-image: linear-gradient(#705898,#554374);
  border-color: #413359;
}
.ghost-text {
    color: #705898;
}
.dragon {
  background: #7038f8;
  background-image: linear-gradient(#7038f8,#4c08ef);
  border-color: #3d07c0;
}
.dragon-text {
    color: #7038f8;
}
.dark {
  background: #705848;
  background-image: linear-gradient(#705848,#513f34);
  border-color: #362a23;
}
.dark-text {
    color: #705848;
}

.inactive {
  background: #d5d5d5;
  background-image: linear-gradient(#d5d5d5,#c8c8c8);
  border-color: #555;
}

.inactive img {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  opacity: 0.4;
}

.inactive h2 {
  color: #acacac;
}